container {
  margin-top: 50px;
}

.table-responsive {
  margin-top: 20px;
}

.table th,
.table td {
  vertical-align: middle;
}

.table thead th {
  text-align: center;
}

.table tbody td {
  text-align: center;
}
